/* Global Css */
*{
    box-sizing: border-box;

}
.father {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.form-father {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    font-family:'Cairo';
}

.form-father label {
    font-weight: 500;
    margin-bottom: 0.25rem;
    font-family:'Cairo';
}

.form-father input {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 16px;
    font-size: 1rem;
}

.form-father button {
    padding: 0.50rem;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    font-family:'Cairo';
    cursor: pointer;
    margin-top: 2rem;
}

.form-father button:hover {
    background-color: #4338ca;
}

.error{
    color: red;
    font-size: 14px;
    margin: top 0; ;
}